<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksensi.freefirelauncher">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Queries for Free Fire packages -->
    <queries>
        <package android:name="com.dts.freefireth" />
        <package android:name="com.dts.freefiremax" />
        <package android:name="com.garena.game.kgth" />
        <package android:name="com.garena.game.kgid" />
        
        <!-- Intent filters for URL schemes -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="freefire" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="freefireth" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="freefiremax" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
