<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AITelekill</key>
	<false/>
	<key>AimFov</key>
	<real>500</real>
	<key>AimWhen</key>
	<integer>1</integer>
	<key>Aimbot</key>
	<true/>
	<key>AutoWeaponSwitch</key>
	<false/>
	<key>Box</key>
	<true/>
	<key>Distance</key>
	<false/>
	<key>Enable</key>
	<true/>
	<key>Health</key>
	<true/>
	<key>Name</key>
	<true/>
	<key>NinjaRun</key>
	<false/>
	<key>NinjaRun_Fast</key>
	<false/>
	<key>NinjaRun_Slow</key>
	<false/>
	<key>PlayerTakeDamageV10</key>
	<false/>
	<key>SafeTeleportDistance</key>
	<real>5</real>
	<key>ShowAITeleKillUI</key>
	<true/>
	<key>ShowGhostButton</key>
	<false/>
	<key>ShowNinjaRunUI</key>
	<true/>
	<key>ShowTeleVIPButton</key>
	<false/>
	<key>SpeedHack</key>
	<false/>
	<key>Target</key>
	<integer>0</integer>
	<key>Telekill</key>
	<true/>
	<key>TelekillDistance</key>
	<real>15</real>
	<key>UndergroundKill</key>
	<false/>
	<key>UseCustomTelekillDistance</key>
	<true/>
	<key>WeaponSwapSafe</key>
	<false/>
	<key>WeaponSwitchMode</key>
	<integer>0</integer>
	<key>force</key>
	<true/>
	<key>fovaimglow</key>
	<false/>
	<key>lines</key>
	<true/>
	<key>playertakedamage</key>
	<true/>
	<key>playertakedamage2</key>
	<false/>
	<key>skeleton</key>
	<true/>
</dict>
</plist>
